node_modules/
log-files/
csv-data/
excel/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
[Dd]ebug/
[Rr]elease/
x64/
x86/
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.log
bin/
obj/
*.dll
*.exe
.env